*{margin: 0px; padding: 0px;}
.container{
    width: 1280px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 100px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    background-color: #CF9D1C;
    padding-top: 30px;
}
h2{
    margin-top: 20px;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
form{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
}
.box1{
    display: flex;
}
.control{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttom{
    width: 70%;
    background-color: #CF9D1C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.buttom:hover{
    background-color: #956d09;
}
.buttom-1{
    width: 70%;
    background-color: white;
    color: #CF9D1C;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #CF9D1C;
    border-radius: 4px;
}
.buttom-1:hover{
    color: #956d09;
    background-color: #e3e378;
}
span{
    color: gray;
    font-size: 10px;
    margin-left: 10px;
}
.img{
    width: 640px;
    background-color: #e3e378;
    text-align: center;
    padding-top: 60px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #CF9D1C;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
}
footer a{
    font-size: 14px;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
ul {
    list-style-type: none;
}

